* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

header,
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header {
    background-color: rgba(0, 0, 0, 0.726);
    color: white;
    position: sticky;
    top: 0;
    height: clamp(5%, 10%, 25%);
    justify-items: start;
}

h1 {
    display: flex;
    justify-content: start;
    flex: 3;
    padding-left: 3%;
    font-size: 2.5rem;
}

#nav-list {
    list-style-type: none;
    display: flex;
    flex: 1;
    padding-right: 3%;
}

#nav-list > li {
    flex: 1;
    font-size: 1.5rem;
}

#nav-list > li:hover {
    cursor: grab;
}

#main {
    background: url("./restaurant.jpg");
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    z-index: -1;
}

img {
    width: 100%;
}

#content {
    background-color: rgba(0, 0, 0, 0.726);
    flex: 1;
    margin: 5rem;
    width: 45%;
    align-self: center;
    color: white;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
}

#content:nth-child(1) {
    width: 65%;
    height: auto;
    margin-top: 3rem;
}

h2 > ul > li {
    font-size: 1.5rem;
    list-style-type: none;
}

button {
    padding: 1rem 3rem;
}

footer {
    background-color: rgba(0, 0, 0, 0.726);
    color: white;
    position: sticky;
    bottom: 0;
    height: clamp(2%, 4%, 6%);
    width: 100%;
    justify-content: center;
}
